/* #navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */

.main-navbar {
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 10;
    margin-right: 200px;
    float: right;
    /* flex-direction: row-reverse; */
    border-bottom: 1px solid rgba(255, );
}

.navbar-brand {
    margin-right: 800px;
}

.carousel-item {
    width: 100%;
    height: 700px;
}

.navbar a {
    font-size: 16px;
    color: rgb(255, 255, 254);
    text-transform: uppercase;
}

.btn {
    width: 100px;
    border-radius: 30px;
}

.btn-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
}

.collapse {
    display: flex;
    flex-direction: row-reverse;
}